@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body, html, button, input, textarea, select {
    font-family: 'Noto Sans KR', sans-serif;
}

code, pre, kbd, samp {
    font-family: 'Nanum Gothic Coding', monospace;
}