@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, button, input, textarea, select {
    font-family: 'Noto Sans KR', sans-serif;
}

code, pre, kbd, samp {
    font-family: 'Nanum Gothic Coding', monospace;
}